 .navbar {
     position: absolute;
     background-color: rgb(242, 242, 242);
     width: 100%;
     height: 44px;
     left: 0px;
     top: 0px;
 }

 .loginicon {
     position: absolute;
     width: 80px;
     text-decoration: none;
     display: flex;
     align-items: center;
     justify-content: center;
     font-weight: bolder;
     color: black;
     height: 30px;
     left: 85%;
     top: 10px;
     margin-left: 80px;
     background: #2bc6ff;
     border-radius: 24px;
     cursor: pointer;
 }

 .loginicon:hover {
     color: white;
 }

 .login-form {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
 }

 .form-box {
     margin-top: 7vh;
     opacity: 80%;
     background: black;
     padding-right: 80px;
     color: aqua;
     padding-left: 80px;
     border-radius: 20px;
     box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
 }

 .login-text {
     width: 100%;
     color: white;
     border-bottom: 2px solid white;
     line-height: 30px;
     width: 100%;
     font-weight: bolder;
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 5vh;
 }

 label {
     color: white;
     width: 100%;
     text-align: center;
 }

 .login-box {
     border: 1px solid lightgrey;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 20px;
     padding: 2px;
     padding-left: 10px;
     letter-spacing: 1px;
     font-weight: 600;
     margin: 7px;
     font-size: 11pt;
     background: transparent;
     transition: 1s;
     outline: none;
 }

 .login-btn {
     width: 50%;
     justify-content: center;
     align-items: center;
     background-color: rgb(48, 172, 251);
     color: white;
     margin-top: 5px;
     border-radius: 20px;
     border: none;
     font-size: 15pt;
     font-weight: 700;
     transition: 1s;
     outline: none;
     cursor: pointer;
     margin-bottom: 20px;
 }

 .login-btn:hover {
     transform: scale(1.03);
     letter-spacing: 4px;
     background-color: #7fffd4;
     color: #1e90ff;
 }

 .show {
     display: block;
     transition: 800ms;
     opacity: 1;
 }

 .show.active {
     transform: translateY(100px) scale(0) rotateY(180deg);
     opacity: 0;
 }

 .dropbtn {
     /* background-color: grey; */
     color: white;
     padding: 10px;
     font-size: 16px;
     border: 25px;
     color: black
 }

 /* The container <div> - needed to position the dropdown content */
 .dropdown {
     position: relative;
     display: inline-block;
     margin-right: 15px;
     color: black;
 }

 /* Dropdown Content (Hidden by Default) */
 .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f1f1f1;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     z-index: 1;
 }

 /* Links inside the dropdown */
 .dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
 }

 /* Change color of dropdown links on hover */
 .dropdown-content a:hover {
     background-color: #ddd;
 }

 /* Show the dropdown menu on hover */
 .dropdown:hover .dropdown-content {
     display: block;
 }

 /* Change the background color of the dropdown button when the dropdown content is shown */
 .dropdown:hover .dropbtn {
     background-color: grey;
 }